[submodule "subprojects/Crunch"]
	path = subprojects/Crunch
	url = https://github.com/mokafolio/Crunch.git
[submodule "subprojects/Stick"]
	path = subprojects/Stick
	url = https://github.com/mokafolio/Stick.git
[submodule "subprojects/Luke"]
	path = subprojects/Luke
	url = https://github.com/mokafolio/Luke.git
[submodule "subprojects/Paper2"]
	path = subprojects/Paper2
	url = https://github.com/mokafolio/Paper2.git
[submodule "subprojects/Dab"]
	path = subprojects/Dab
	url = https://github.com/mokafolio/Dab.git
[submodule "subprojects/StickLuaSol"]
	path = subprojects/StickLuaSol
	url = https://github.com/mokafolio/StickLuaSol.git
[submodule "subprojects/CrunchLuaSol"]
	path = subprojects/CrunchLuaSol
	url = https://github.com/mokafolio/CrunchLuaSol.git
[submodule "subprojects/DabLuaSol"]
	path = subprojects/DabLuaSol
	url = https://github.com/mokafolio/DabLuaSol.git
[submodule "subprojects/LukeLuaSol"]
	path = subprojects/LukeLuaSol
	url = https://github.com/mokafolio/LukeLuaSol.git
[submodule "subprojects/PaperLuaSol"]
	path = subprojects/PaperLuaSol
	url = https://github.com/mokafolio/PaperLuaSol.git
[submodule "subprojects/Tarp"]
	path = subprojects/Tarp
	url = https://github.com/mokafolio/Tarp.git
[submodule "subprojects/ChuckleCore"]
	path = subprojects/ChuckleCore
	url = https://github.com/mokafolio/ChuckleCore.git
[submodule "subprojects/Pic"]
	path = subprojects/Pic
	url = https://github.com/mokafolio/Pic.git
[submodule "subprojects/PicLuaSol"]
	path = subprojects/PicLuaSol
	url = https://github.com/mokafolio/PicLuaSol.git
[submodule "subprojects/Box2D"]
	path = subprojects/Box2D
	url = https://github.com/erincatto/Box2D.git
[submodule "subprojects/Tink"]
	path = subprojects/Tink
	url = https://github.com/mokafolio/Tink.git
